<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804505350318-30ns4scieqfkjsviuj4p04ade5m8qteq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804505350318-30ns4scieqfkjsviuj4p04ade5m8qteq</string>
	<key>API_KEY</key>
	<string>AIzaSyDZiYPvlhkObPI3vIX1pou4MSRFUMVUd74</string>
	<key>GCM_SENDER_ID</key>
	<string>804505350318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>must.edu.73616.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d6775</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d6775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804505350318:ios:eeae121ed26c9c5293bd3f</string>
</dict>
</plist>